<h2 mat-dialog-title>{{ data.hostelName }}</h2>

<mat-dialog-content>
    <mat-radio-group [(ngModel)]="selectedRoleId">
        <mat-radio-button
            *ngFor="let role of hostelData"
            [value]="role.token">
            {{ role.roleName }}
        </mat-radio-button>
    </mat-radio-group>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button
        mat-raised-button
        color="primary"
        [disabled]="!selectedRoleId"
        [mat-dialog-close]="selectedRoleId">
        Confirm
    </button>
</mat-dialog-actions>
